.form {
    width: 200px;
    border: 1px solid #111;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
    gap: 15px;
}

.err {
    color: red;
    font-size: small;
}